<toolbar></toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <p><button mat-raised-button color="primary">Home</button></p>
      <expansion-panel></expansion-panel>
        <p><button mat-raised-button color="primary">Settings</button></p>


  </mat-drawer>
  <div class="example-sidenav-content" style="margin-right: 100px">
    <button class="md-icon-button md-primary" type="button" mat-button (click)="drawer.toggle()" >
      Menu
    </button>
    <event-details></event-details>
    <table>
      <tr>
        <th><event-card></event-card></th>
        <th><event-card></event-card></th>
      </tr>
      <tr>
        <td><event-card></event-card></td>
        <td><event-card></event-card></td>
      </tr>
    </table>

  </div>
</mat-drawer-container>
<footer></footer>

