<div style="margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;">
<img  src="assets/images/palas.jpg" >
<p class="welcome">EXPLORE.DISCOVER.ENJOY</p>
<div class="button-row">
  <a routerLink="/login" routerLinkActive="active">
    <button mat-raised-button class="button-page" color="primary">Login</button></a>
  <a routerLink="/register" routerLinkActive="active">
    <button mat-raised-button class="button-page" color="primary" >Register</button></a>
</div>
</div>
