<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img src="assets/images/palas.jpg">
  </mat-grid-tile>
  <mat-grid-tile>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
      <mat-card-title >Log in to your EventIS account</mat-card-title>

      <alert> </alert>
      <br>
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="emailControl">
        <mat-error *ngIf="loginForm.controls['emailControl'].errors?.required && loginForm.controls['emailControl'].touched">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="passwordControl">
        <mat-error *ngIf="loginForm.controls['passwordControl'].errors?.required && loginForm.controls['passwordControl'].touched">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
        Login
      </button>

      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

      <br>
      <p>Don't have an acount?</p>

      <a routerLink="/register" routerLinkActive="active">Register</a>
    </form>
  </mat-grid-tile>
</mat-grid-list>
