
<mat-card class="example-card" layout-align="center end">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Event Title</mat-card-title>

  </mat-card-header>
  <img  src="https://s3.amazonaws.com/files.bannersnack.net/site/images/landingPages/gallery/bcps65sf1" >
  <mat-card-content>
    <mat-card-subtitle>Place</mat-card-subtitle>
    <mat-card-subtitle>Date</mat-card-subtitle>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Commodo elit at imperdiet dui. Pulvinar proin gravida hendrerit lectus a.
      Elit pellentesque habitant morbi tristique senectus et netus et malesuada. Diam vel quam elementum pulvinar.
      Molestie nunc non blandit massa enim nec. Dolor sit amet consectetur adipiscing elit. Egestas congue quisque egestas diam in arcu.
      Tincidunt augue interdum velit euismod in pellentesque. Condimentum id venenatis a condimentum vitae. Mi proin sed libero enim sed.
      Rhoncus mattis rhoncus urna neque viverra.
      Faucibus turpis in eu mi bibendum neque egestas congue quisque. Pulvinar neque laoreet suspendisse interdum consectetur.
    </p>
    <mat-card-actions>
      <div class="button-row">
        <button mat-raised-button color="accent">Attend</button>
        <button mat-raised-button color="primary">See on Facebook</button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
